/*  GENERAL */

html, body{
    font-family: 'Lora', serif;
    height: 100%; 
    width: 100%; 
    margin: 0;
}

.clearfix:before, .clearfix:after{ 
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


.container{
    height:100%;
}

.main{
    margin: 0 auto;
    margin-top: -30px;
/*    border: solid 2px black;*/
    height: 90%;
    width: 90%;
    position:relative;
}

.about{
    margin: 0 2em;
}

/*      TEXT        */


.header-left, .header-right{
    display: inline;
    font-size: 1em;
    margin: 0 5px;
}

.header-right, .header-right:visited{
    margin-top: 3px;
    float: right;
    text-decoration: none;
    font-size: 1.25em;
    color: grey;
}

.header-right:hover{
    color: darkgray;
}

#email{
    color: #000;
    text-decoration: none;
    margin-bottom: 5px;
}

#email:hover{
    color: blue;
}

#email:visited{
    color: purple;
}

.tiny{
    color: #333;
    font-size: .7em;
    text-align: right;
    margin-right: 5%;
    margin-top: -40px;
}

/*   NAV BAR   */

.the-top{
    margin-top: 25px;
}


/*   DISPLAY CASE ARROWS   */

.arrow{
    padding: 100px 0;
    margin-top: -50px;
}

#left{
    position:absolute;
    top:50%;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%);
    padding-right: 50px;
}

#right{
    position:absolute;
    top:50%;
    right:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%);
    padding-left: 50px;
}

/* DISPLAY CASE IMAGES */

.display-case{
    display: inline;
}

.mySlides{
    margin: 0 auto;
    height: inherit;
    max-height: 1400px;
    width: auto;
    margin-top: 8vh;
}

/* PHONE + TABLET LANDSCAPE */

@media only screen and (min-device-width : 320px) and (max-device-width : 736px) and (orientation : landscape) {
    .main{
        height: 90%;  
    }
}

@media only screen and (min-width: 600px){
    .header-left{
        margin-left: 1em;
    }
    
    .header-right{
        padding-right: 2em;
    } 
    
    .header-left, .header-right{
        font-size: 1.5em;
    }
}